@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">OIDC Test Application</h1>
    <p>This is a simple application to test login functionality with an OIDC Identity Provider.</p>
    <p>You need to set three values in your Configuration (using appsettings.json or secrets.json)</p>
    <ul>
        <li>OpenIdConnect:Authority (url of your IdP)</li>
        <li>OpenIdConnect.ClientId</li>
        <li>OpenIdConnect.ClientSecret</li>
    </ul>
    <p>Click Secure at the top of the page to invoke login</p>
</div>
