
@{
    ViewData["Title"] = "Secure";
}

<h1>Secure</h1>

<h5>Here are claims in your token:</h5>
<hr />
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>